/* General styles for the whole page*/
body{
   color: rgb(41 79 109);
    font-family: sans-serif;
    background-color: white;
    }

.objective{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/* navbar styles */
/* all of these styles affect the navigation bar */
.sidebar{
    background-color: rgb(41 79 109);
   /* changes the background color to a dark blue */
    height: 100vh;
   /* sets the height at 100% of the viewers height*/
    width: 250px;
    /* sets the width to 30% */
    position: fixed;
    /* this fixes the sidebar to the left so it doesnt move */
    z-index: 1;
    /* for items with positions it sets the stacking layer */
    overflow-x: hidden;
    /* hides anything below the fold */
    border-top-left-radius: 1em;
    /* rounds the top left corner relative to its its space */
    border-top-right-radius: 1em;
    /* rounds the top right corner relative to its space */
   }

/* 
by using z-index:1 I place the sidebar on top of the other elements. if i had done -1 it would have put it on the bottom. It's only half of the desired result
*/

/* styles a link "a" in general */
.sidebar a{
    padding: 8px;
    /* adds 8px padding between content and the border */
    text-decoration: none;
    /* removes the underline and bullet points */
    font-size: 25px;
    /* makes the font larger */
    color: white;
    /* makes the font white */
    display: block;
    /* makes the font display as a vertical navigation */
}

/* styles a link "a" when hovered over */
.sidebar a:hover{
    font-weight: 600;
    /* really just makes the font fatter bolder css version of bold or strong */
    text-decoration: underline;
    /* adds the underline back */
}




/* styles my hgroup content*/
.hgroup-content{
    padding: 0px 10px;
    /* sets 0 padding at the top 10pxto the bottom */    
    margin-left: 250px;
    /* since I used z-index: 1; earlier I have to use this to push my content outfront under the sidebar */
    }
    



    hgroup h1{
        border-style: double;
        border-width: 5px;
        padding: 8px;
    }
/* 
This is the other half of what I was talking about if you dont add margin-"sidebars size" in this case mine is 30% then it will be hidden under the sidebar because the z-index: 1; raises it above the main content. 

*/