/* General styles for the whole page*/
body{
   color: rgb(41 79 109);
    font-family: sans-serif;
    background-color: white;
    text-align: center;
}
.sidebar ul li{
   text-decoration: none;
   list-style-type: none;
}
